{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Felia's Website</title>
	
	
</head>
<body class="bg0">

	<link rel="stylesheet" type="text/css" href=" {% static 'personalweb/web.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<header>
		{% block content %} {% endblock %}	     
	</header>
	{% include 'navbar.html' %}

  	<img class=photo src="https://image.ibb.co/cWQszz/preview.jpg" style="text-align: center;">
	<div class="name">
		<p>Halo! Nama saya Felia Risky Faizal:)</p>
		
	</div>
	<div class="welcome">
		<p>Selamat datang di website saya!</p>
	</div>
  	
</body>
</html>