{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Felia's Website</title>
  
  
</head>
<body>

  <header>
    
  </header>
  <link rel="stylesheet" type="text/css" href=" {% static 'personalweb/web.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <div class ="bg2">
    <div class="kolom" style= "text-align: center">
      <br><br><br><br><br><br><br><br><br><
      <p class="profil">Kemampuan</p>
    </div>

    <div class="kolom" style= "text-align: center">

      <div id="nav">
        {% block content %} {% endblock %}
      </div>
        {% include 'navbar.html' %}
        <br><br>
        <img class=english src="https://marvel-live.freetls.fastly.net/canvas/2018/9/86a98ae39f2a491cb2075412b753338e?quality=95&fake=.png">
        <br>
        <p class="teks2">Bahasa Inggris</p>
        <br>
        <img class=microsoft src="https://marvel-live.freetls.fastly.net/canvas/2018/9/289c06144e974fa697bb87e38619dc10?quality=95&fake=.png">
        <br>
        <p class="teks2">Microsoft Office </p>
        <br>
        <img class=programming src="https://marvel-live.freetls.fastly.net/canvas/2018/9/11af3230d89e405caeb22feee1ef7dff?quality=95&fake=.png">
        <p class="teks2">Programming </p>
        <br>
        <img class=publicspeaking src="https://marvel-live.freetls.fastly.net/canvas/2018/9/f4b9aed7d13a420a922fa7e4684665d2?quality=95&fake=.png">
        <p class="teks2">Public Speaking </p>
        <br>
        <img class=teamworking src="https://marvel-live.freetls.fastly.net/canvas/2018/9/87ba30f6030445cea745e59e7c56dedc?quality=95&fake=.png">
        <p class="teks2">Team Working</p>
        
    </div>

  </div>
  
</body>
</html>