.kolom{
	float: left;
	width:50%;
	}

.photo{
width: 250px;
  height: 250px;
  position: fixed;
  top: 18%;
  left: 42%;
  
}


.name{
  position: fixed;
  top: 60%;
  left: 10%;
  color: #47525E;
  font-family: Grand Hotel;
  font-size: 40px;
  font-weight: 400;
  line-height: 156px;
  text-align: center;
}


.welcome{
	
  position: fixed;
  top: 70%;
  left: 10%;
  color: #47525E;
  font-family: Grand Hotel;
  font-size: 40px;
  font-weight: 400;
  line-height: 156px;
  text-align: center;
}

#nav{
  font-family: Grand Hotel;	
  color: #47525E;
}

.bg0{
	
	background: url(https://marvel-live.freetls.fastly.net/canvas/2018/9/8de2b6f9189f4f03af0f0fb7efd0d78b?quality=95&fake=.png) no-repeat fixed;
	background-size: 100%;
	background-position: center; 
	width:1355px;
	height:580px;
	
}
.bg{
	background: url(https://image.ibb.co/hGy6Be/2.jpg) no-repeat fixed;
	background-size: 100%;
	background-position: center; 
	width:1355px;
	height:580px;
}

.bg1{
	background: url(https://image.ibb.co/hc5dpz/3.jpg) no-repeat fixed;
	background-size: 100%;
	background-position: center; 
	width:1355px;
	height:580px;
}

.bg2{
	background: url(https://image.ibb.co/fUMjUz/4.jpg) no-repeat fixed;
	background-size: 100%;
	background-position: center; 
	width:1355px;
	height:580px;
}
.bg3{
	background: url(https://image.ibb.co/gEsV2K/5.jpg) no-repeat fixed;
	background-size: 100%;
	background-position: center; 
	width:1355px;
	height:580px;
}

.form1{
	background-color: yellow; 
	background-size: absolute;
	background-size: 100%;
	background-position: center; 
	width:1355px;
	height:580px;
}

.profil{
	color: #FFFFFF;
  font-family: Berkshire Swash;
  font-size: 100px;
  font-weight: 400;
  line-height: 130px;
  text-align: center;
  
}

#home{
 color: #000000;
 font-size: 18px;
 font-family: Berkshire Swash;

}
#kemampuan{
 color: #000000;
 font-size: 18px;
 font-family: Berkshire Swash;

}
#profil1{
 color: #000000;
 font-size: 18px;
 font-family: Berkshire Swash;

}
#kontak{
	 color: #000000;
	 font-size: 18px;
	 font-family: Berkshire Swash;

}

#form{
color: #000000;
	 font-size: 18px;
	 font-family: Berkshire Swash;
}

.teks1{
	color: #000000;
  font-family: Bree Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  
}
  
.teks2{
	color: #47525E;
  font-family: Bree Serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.teks3{
	color: #47525E;
  font-family: Bree Serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.people{
	width: 175px;
  height: 175px;
}

.english{
	width: 33px;
  height: 30px;
}

.microsoft{
	width: 30px;
  height: 20px;
}

.programming{
	width: 30px;
  height: 30px;
}

.publicspeaking{
width: 30px;
  height: 30px;
}

.teamworking{
	width: 30px;
  height: 30px;
}

.email{
width: 30px;
  height: 30px;
}

.tlp{
width: 30px;
  height: 30px;
}

.line{
width: 30px;
  height: 30px;
}

.insta{
width: 27px;
  height: 25px;
}

.twitter{
	width: 30px;
  height: 30px;
}